<title> ADD AUTHOR </title>
<style type="text/css">
    div { display:flex; flex-direction:column; align-items:center; border: solid 1pt; margin: 10pt 50pt;
        background-color: aliceblue } </style>
<div>
    <h2> ADD AUTHOR </h2>
    <form method="get" action="http://localhost:8080/AddAuthor">
        <p> <input type="text" name="name" placeholder="Enter Author Name" /> </p>
        <p> <input type="text" name="age" placeholder="Enter Author Age" /> </p>
        <p> <input type="date" name="birthday" placeholder="Enter Author Birthday" /> </p>
        <p> <input type="submit" name="addAuthor" value="Add Author" style="width:100%"/> </p>
    </form>
</div>