<title> ADD BOOK </title>
<style type="text/css">
    div { display:flex; flex-direction:column; align-items:center; border: solid 1pt; margin: 10pt 50pt;
        background-color: aliceblue } </style>
<div>
    <h2> ADD BOOK </h2>
    <form method="get" action="http://localhost:8080/AddBook">
        <p> <input type="text" name="title" placeholder="Enter Book Title"/> </p> <p> <input type="text" name="authorId" placeholder="Enter Author Id" /> </p> <p> <input type="submit" name="addBook" style="width:100%" /> </p>
    </form>
</div>